$primary-font: 'Kumbh Sans', sans-serif;

$text-dark-blue: hsl(238, 29%, 16%);
$text-soft-red: hsl(14, 88%, 65%);
$text-very-dark-gray-blue: hsl(237, 12%, 33%);
$text-dark-gray-blue:  hsl(240, 6%, 50%);

$hr-light-gray-blue: hsl(240, 5%, 91%);

$bg-soft-violet: hsl(273, 75%, 66%);
$bg-soft-blue: hsl(240, 73%, 65%);

body {
    background-color: $bg-soft-violet;
    font-family: $primary-font;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: $text-dark-blue;

    a { 
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 150px 20px;
    padding: 40px 20px;
    border-radius: 20px;

    @media (min-width: 1024px) {
        flex-direction: row;
    }

    .image {
        width: 266px;
        height: 196px;
        margin: -150px auto 0 auto;

        @media (min-width: 1024px) {
            margin: 0;
        }

        .image__left {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .accordion {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 20px auto;
        }

        .accordion__faq {
            display: flex;
            flex-direction: column;

            input[type="checkbox"] {
                display: none;
            }

            label {
                display: block;
                position: relative;
                cursor: pointer;
                transition: ease .5s;
                border-bottom: 1px solid $hr-light-gray-blue;
                padding: 15px 0;
                font-size: 12px;

                @media (min-width: 768px) {
                    font-size: 16px;
                }
            }

            label::after {
                position: absolute;
                content: "";
                background: url("images/icon-arrow-down.svg") no-repeat;
                width: 10px;
                height: 7px;
                top: 18px;
                right: 0;
            }

            .accordion__content {
                font-size: 12px;
                border-bottom: 1px solid $hr-light-gray-blue;

                @media (min-width: 768px) {
                    font-size: 16px;
                }
            }

            input + label + .accordion__content {
                display: none;
            }

            input:checked + label + .accordion__content {
                display: flex;
            }

            input:checked + label {
                font-weight: 700;
                border: none;
            }

            input:checked + label::after {
                transform: rotate(180deg);
            }
        }
    }
}